@charset "UTF-8"

:root {
    --cor1: #A32015;
    --cor3: #3A3A3A;
    --cor2: #2a2a2a;
    --cor4: #1C5662;
    --cor5: #E5E5E5;
    --cor6: #ffffff;

    /*--fonte-padrao: Verdana, sans-serif;*/
}
.primeiro {
    height: 80px;
}
.segundo {
    background-color: #A32015;
    height: 28px;
    font-family: var(--fonte-padrao);
}

.terceiro {
    background-color: #3A3A3A;
    height: 28px;
}
.quarto {
    height: 28px;
}
body, p { 
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagem {
    background-color: #d8bda7;
    height: 583px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.descrição {
    height: 565px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border-top: solid 10px #3A3A3A;
    border-bottom: solid 7px #3A3A3A;
    margin: 30px 0px;
    background-color: rgb(235, 232, 232);
}
.modulos {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: solid 7px #1C5662;
    max-width: 1000px;
    border-radius: 50px;
    margin: auto;
}
#mods {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.mod {
    min-width: 200px;
    max-width: 200px;
    height: 400px;
    border: solid 5px #A32015;
    border-radius: 40px;
    margin: 20px;
    padding: 20px;
}
#teste {
    text-align: center;
    font-size: 20px;
    border-top: solid 7px #1C5662;
    border-bottom: solid 7px #1C5662;
    padding-bottom: 30px;
}
.rodape-main{  
    width: 100px;
    height: 100px;
}
img{
    
    height: 159px;
    object-fit: cover;
}


.clique {
    margin: 30px 0px;
}
footer {
    height: 191px;
    background-color: #3A3A3A;
    border-top: solid 15px #2a2a2a;
    color: white
}

.clique {
    margin-top: 15px;
}