@charset "UTF-8";

:root {
    --cor1: #A32015;
    --cor3: #3A3A3A;
    --cor2: #2a2a2a;
    --cor4: #1C5662;
    --cor5: #E5E5E5;
    --cor6: #ffffff;

    /*--fonte-padrao: Verdana, sans-serif;*/
}
.primeiro {
    height: 40px;
    padding: 10px;}
.segundo {
    background-color: #A32015;
    height: 28px;
    font-family: var(--fonte-padrao);
}

.terceiro {
    background-color: #3A3A3A;
    height: 28px;
    padding-top: 5px;
    font-family: var(--fonte-padrao);
    
    
}

.menu{
    
    display: flex;
    gap: 50px;
    font: size 100px;
    color:#ffffff;
    margin-left: 30px;   

}
.quarto {
    text-align: center;
    margin: 7px;
    padding: 0px;
}
body, p { 
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img{
    width: 100%;
}
.imagem {
    display:flex;
    text-align: center;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
    background-position: center center;
    margin: 0px;
    margin-bottom: 0px;
    border-top: solid 7px #3A3A3A;
    height: 50%;
    
}
.centro {
    width: 100%;
}
.descrição {
    height: 565px;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    border-top: solid 10px #3A3A3A;
    border-bottom: solid 10px #3A3A3A;
    margin: 0px 0px 0px 0px;
    background-color: rgb(235, 232, 232);
}
.modulos {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    /*background-image: linear-gradient(to center, #1C5662 white #1C5662);*/
    background-image: linear-gradient(45deg, #1C5662, #A32015);
    margin: auto;
    color: white;
}
#mods {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

}
.mod{
    min-width: 200px;
    max-width: 200px;
    border: solid 5px #A32015;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 20px 10px 20px;
    
}
.mod .clique{
    text-align: center;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #000;
}
.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#teste {
    box-sizing:border-box;
    text-align: center;
    font-size: 20px;
    border-top: solid 7px #1C5662;
    border-bottom: solid 7px #1C5662;
    height: fit-content;
    display: inline-block;
    position: relative;
}

.simulado:hover {
    color: #000;
    font-weight: bold;
}

.geometrico{
    width: 100%;
    height: 100%;
    
}
.finalizar {
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    bottom: 20px;
    margin-bottom: 0px;
}
.clique {
    border: none;
    box-shadow: none;
    margin: 30px 15px;
    padding: 10px;
    background-color:#A32015;
    color: white;
    border-radius: 5px;
    text-align: center;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    text-align: center;

}
.clique:hover {
    background-color: #dbdbdb;
    border: solid 1px #A32015;
    color: #A32015;
    box-shadow: 5px 5px 5px #00000052;
}
.mod h1  {
    text-align: center;
}
.mod button{
    justify-items: center;
}
.mod:hover {
    background-color:#e7e7e7;
}
footer {
    height: 150px;
    background-color:#2a2a2a ;
    border-top: solid 25px #3A3A3A;
    color: white
}

.clique {
    margin-top: 15px;
}

.logo-fatec {
    width: 100px;
}
.aqui {
    color: blue;
}

.informaçoes-centrais {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.conteudo-footer {
    display:flex;
    flex-direction: row;
    align-items: center center;
    justify-content: space-around;
    margin-top: 30px;
}