#imagem_diploma{

    display: none;

}

.quizz{

    font-family: verdana;
    display: flex;
    justify-content: first baseline;
    display: block;

}

.botao_1{
    
    height: 40px;
    width: 140px;
    font-family: verdana;
    font-size: 100%;
    background-color: white;
    color:#b20000;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 0.2s;

}

.botao_1:hover {

    border: 3px solid #FF1919

}

#botao_2{

    height: 40px;
    width: 140px;
    font-family: verdana;
    font-size: 100%;
    background-color: white;
    color:#b20000;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 0.5s;
 
}

#botao_2:hover {

    background-color: #b20000;
    color:white;
}
  

#pergunta_{

    font-family: verdana;

}

.lista{

    
    font-family: verdana;
    height: 40px;
    width: 100%;
    font-family: verdana;
    font-size: 100%;
    background-color: blue;
    color:#b20000;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 0.2s; 

}


.lista:hover{

    border: 3px solid #FF1919 ;
}

.diploma{

    font-family: verdana;
    display: none;
    margin: auto;

}

.diploma2{

    font-family: lucida;
    display: none;
    text-align: center;

}

.pre_visual{

    font-family: verdana;
    display: none;

}
