@charset "UTF-8";

:root {
    --cor1: #A32015;
    --cor3: #3A3A3A;
    --cor2: #2a2a2a;
    --cor4: #1C5662;
    --cor5: #E5E5E5;
    --cor6: #ffffff;

    /*--fonte-padrao: Verdana, sans-serif;*/
}

body{
    box-sizing:content-box;}

.primeiro {
    height: 40px;
    padding: 10px;}
.segundo {
    background-color: #A32015;
    height: 28px;
    font-family: var(--fonte-padrao);
    margin-top: 10px;
}

.terceiro {
    background-color: #3A3A3A;
    height: 28px;
    font-family: var(--fonte-padrao);    
}

.menu{
    display: flex;
    gap: 50px;
    font: size 100px;
    color:#ffffff;
    margin-left: 30px;   
    margin-bottom: 5px;
}
.quarto {
    text-align: center;
    margin: 7px;
    padding: 0px;
}
body, p { 
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img{
    width: 100%;
}
.imagem {
    display:flex;
    text-align: center;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
    background-position: center center;
    margin: 0px;
    margin-bottom: 0px;
    border-top: solid 7px #3A3A3A;
    height: 50%;
    
}
.centro {
    width: 100%;
}
.descrição {
    height: 565px;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    border-top: solid 10px #3A3A3A;
    border-bottom: solid 7px #3A3A3A;
    margin: 0px 0px 20px 0px;
    background-color: rgb(235, 232, 232);
    display: block;
    margin-top: 20px;
}
.faculdade {
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
}
    
button {
    border: none;
    box-shadow: none;
    margin: 30px 15px;
    padding: 10px;
    background-color: #1C5662;
    color: white;
    border-radius: 5px;
    text-align: center;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    text-align: center;
}
.voltar {
    display: block;
    text-align: center;
    align-items: center;
}
button:hover {
    color: #000;
    background-color: #a6cbd3;
    border: solid 1px #000;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 5px #00000052;
}

a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #000;
}
.modulos {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-image: linear-gradient(45deg, #1C5662, #A32015);
    margin: auto;
    color: white;
}

.modulo {
    border: solid 4px #A32015;
    border-radius: 20px;
    margin: 15px;
    padding: 20px 20px 10px 20px;
}